<div class="container content-section">
    <h2 class="header-section">REGISTRATION FORM(LOCAL DELEGATES)</h2>
    <span class="header-text">Please complete the form below:</span>
    <h2 class="header-deadline">Deadline for registration: 15 September 2017</h2>


    <script type="text/javascript">var submitted = false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;)"></iframe>

    <form id="form-content" name="" action="https://docs.google.com/forms/d/e/1FAIpQLSc1exPEXdWL3RkaIZWS7DXWxONydrjWFG0DLbjA-wEzRMli2w/formResponse" class="form-content clearfix" target="hidden_iframe" method="POST">
        <div class="form-item radio clearfix col-md-12">
            <h2 class="form-header">PERSONAL INFORMATION</h2>
            <span class="content-title stylized-header">Title</span>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Prof" required>Prof.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Dr">Dr.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Mr">Mr.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Mrs">Mrs.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Ms">Ms.
            </label>
            <input class="hidden radioListValue" name="entry.32644508" id="entry.32644508" value="">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Family Name</span>
            <input class="content-input form-control" name="entry.1354023227" id="entry.1748056055" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>


        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">First Name</span>
            <input class="content-input form-control" name="entry.1657772505" id="entry.1657772505" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Position/Job Title</span>
            <input class="content-input form-control" name="entry.418964011" id="entry.418964011" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Company</span>
            <input class="content-input form-control" name="entry.488532509" id="entry.488532509" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Address</span>
            <input class="content-input form-control" name="entry.1914526544" id="entry.1914526544" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">City/State</span>
            <input class="content-input form-control" name="entry.270703826" id="entry.270703826" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Postal Code</span>
            <input class="content-input form-control" name="entry.1346529510" id="entry.1346529510" autocomplete="off" required type="number" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Telephone</span>
            <input class="content-input form-control" name="entry.926048013" id="entry.926048013" autocomplete="off"  type="number" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Mobile Phone</span>
            <input class="content-input form-control" name="entry.454220198" id="entry.454220198" autocomplete="off" required type="number" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Fax</span>
            <input class="content-input form-control" name="entry.1485906308" id="entry.1485906308" autocomplete="off"  type="number" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title stylized-header">Email</span>
            <input class="content-input form-control" name="entry.1487399291" id="entry.1487399291" autocomplete="off" required type="email" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item registration clearfix col-md-12">
            <h2 class="form-header">REGISTRATION CATEGORY</h2>
            <label class="radio-inline">
                <input class="radioRegistration" type="radio" name="registrationRadio" value="10,000.00" required>Member at PHP 10,000.00
            </label>
            <label class="radio-inline">
                <input class="radioRegistration" type="radio" name="registrationRadio" value="12,000.00">Non-member at PHP 12,000.00
            </label>
            <input class="hidden radioListValue" name="entry.1887058680" id="entry.1887058680" value="">
        </div>

        <div class="form-item  clearfix col-md-6">
            <h2 class="form-header stylized-header">PAYMENT DECLARATION</h2>
            <p class="form-description">I hereby agree to be bound by the rules and regulations of the Conference and would like to settle the payment of</p>
            <input class="declaration content-input form-control" name="entry.976169696" id="entry.976169696" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false" disabled>
            <span class="separator">by</span>
            <input class="content-input declaration form-control" placeholder="" name="entry.966266416" id="entry.966266416" autocomplete="off" required type="date" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="content-button-container col-md-12">
            <button data-toggle="modal" type="submit" id="ss-submit" class="submit-button stylized-header">SUBMIT YOUR REGISTRATION</button>
        </div>
    </form>
</div>