<div class="container content-section">
    <h2 class="header-section">REGISTRATION FORM(LOCAL DELEGATES)</h2>
    <span class="header-text">Please complete the form below:</span>
    <h2 class="header-deadline">Deadline for registration: 15 September 2017</h2>


    <script type="text/javascript">var submitted = false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;)"></iframe>

    <form id="form-content" name="" action="https://docs.google.com/forms/d/e/1FAIpQLSc1exPEXdWL3RkaIZWS7DXWxONydrjWFG0DLbjA-wEzRMli2w/formResponse" class="form-content clearfix" target="hidden_iframe" method="POST">
        <div class="form-item radio clearfix col-md-12">
            <h2 class="form-header text-medium">PERSONAL INFORMATION</h2>
            <span class="content-title stylized-header">TITLE</span>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Prof" required>Prof.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Dr">Dr.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Mr">Mr.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Mrs">Mrs.
            </label>
            <label class="radio-inline">
                <input class="radioTitle" type="radio" name="titleRadio" value="Ms">Ms.
            </label>
            <input class="hidden radioListValue" name="entry.32644508" id="entry.32644508" value="">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation ">Family Name</span>
            <input class="content-input form-control content-input-animation" name="entry.1354023227" id="entry.1748056055" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>


        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation">First Name</span>
            <input class="content-input form-control content-input-animation" name="entry.1657772505" id="entry.1657772505" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation">Position/Job Title</span>
            <input class="content-input form-control content-input-animation" name="entry.418964011" id="entry.418964011" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation">Company</span>
            <input class="content-input form-control content-input-animation" name="entry.488532509" id="entry.488532509" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation">Address</span>
            <input class="content-input form-control content-input-animation" name="entry.1914526544" id="entry.1914526544" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation">City/State</span>
            <input class="content-input form-control content-input-animation" name="entry.270703826" id="entry.270703826" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation">Postal Code</span>
            <input class="content-input form-control content-input-animation" name="entry.1346529510" id="entry.1346529510" autocomplete="off" required type="number" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation">Telephone</span>
            <input class="content-input form-control content-input-animation" name="entry.926048013" id="entry.926048013" autocomplete="off"  type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation">Mobile Phone</span>
            <input class="content-input form-control content-input-animation" name="entry.454220198" id="entry.454220198" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation">Fax</span>
            <input class="content-input form-control content-input-animation" name="entry.1485906308" id="entry.1485906308" autocomplete="off"  type="number" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item clearfix col-md-6">
            <span class="content-title content-label-animation">Email</span>
            <input class="content-input form-control content-input-animation" name="entry.1487399291" id="entry.1487399291" autocomplete="off" required type="email" value="" aria-required="true" aria-invalid="false">
        </div>

        <div class="form-item registration clearfix col-md-12">
            <h2 class="form-header text-medium">REGISTRATION CATEGORY</h2>
            <label class="radio-inline">
                <input class="radioRegistration" type="radio" name="registrationRadio" value="10,000.00" required>Member at PHP 10,000.00
            </label>
            <label class="radio-inline">
                <input class="radioRegistration" type="radio" name="registrationRadio" value="12,000.00">Non-member at PHP 12,000.00
            </label>
            <input class="hidden radioListValue" name="entry.1887058680" id="entry.1887058680" value="">
            <input class="hidden radioListValue" name="entry.976169696" id="entry.976169696" value="">
        </div>

        <hr class="hr divider clearfix"/>

        <div class="bank-detail col-md-12">
            <h4 class="text-medium">Bank Transfer</h4>
            <table class="table table-bordered table-content">
                <tbody>
                <tr>
                    <th>BANK NAME:</th>
                    <td>Philippine National Bank</td>
                </tr>
                <tr>
                    <th>ACCOUNT NAME:</th>
                    <td>TAX MANAGEMENT ASSOCIATION OF THE PHILIPPINES</td>
                </tr>
                <tr>
                    <th>ACCOUNT NUMBER:</th>
                    <td>1731-00073-6</td>
                </tr>
                <tr>
                    <th>BANK BRANCH AND ADDRESS</th>
                    <td>Philippine National Bank San Lorenzo - Arnaiz Branch 1012 a. Arnaiz Ave Makati City</td>
                </tr>
                </tbody>
            </table>
            <p class="description">A copy of the bank deposit slip should be sent to AOTCA 2017 Secretariat by email (registration@aotca2017manila.com) once the bank transfer is arranged.</p>
        </div>

        <hr class="hr divider clearfix"/>

        <div class="terms-container col-md-12 ">
            <h4 class="text-medium">TERMS AND CONDITIONS</h4>
            <ol>
                <li>Registration is subject to acceptance on a first-come-first-served basis.</li>
                <li>Registration can only be processed with full payment, by bank transfer only.  Please DO NOT send cash.</li>
                <li>Confirmation will be sent by email upon receipt of your registration form and full payment. If you are not able to receive the confirmation within two weeks, please contact the AOTCA 2017 Conference Secretariat.</li>
                <li>Refund for cancellation of registration will be made and subject to the following deadline and administration charge. All cancellations must be made in writing to the AOTCA 2017 Conference Secretariat and the refund will be made after the Conference. For cancellation requests received on or before 22 September 2017, 50% of the registration fee will be refunded. Thereafter, no refunds shall be made.</li>
                <li>A replacement or transfer is allowed, provided that the replacement is from the same organization and upon receipt of a written request from the person to be replaced. Please note that substitution is permitted on the basis that written notice is received on or before 22 September 2017.</li>
                <li>The program is subject to change without prior notice. In the unlikely event of cancellation of the Conference, the only liability of the Organizer is to refund the registration fee.</li>
            </ol>

        </div>

        <hr class="hr divider clearfix"/>

        <div class="form-item  clearfix col-md-12">
            <h2 class="form-header text-medium">PAYMENT DECLARATION</h2>
            <p class="form-description">I hereby agree to be bound by the rules and regulations of the Conference and would like to settle the payment of</p>
            <input class="declaration content-input form-control" autocomplete="off" required type="text" value="" aria-required="true" aria-invalid="false" disabled>
        </div>

        <div class="content-button-container col-md-12">
            <button data-toggle="modal" type="submit" id="ss-submit" class="submit-button stylized-header">SUBMIT YOUR REGISTRATION</button>
        </div>
    </form>
</div>
